<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Stok_Takip.Properties.Settings.StokTakipConnectionString"
            connectionString="Data Source=DESKTOP-MOC7SSP\SQLEXPRESS;Initial Catalog=StokTakip;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>